{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 column">
        <div class="page-header">
            <h1>
                <small><span>You have now reached the outer rim</span> ...Out here, anything is possible.</small>
            </h1>
        </div>
        
        <div>
            <span>The Unknown Regions, Unknown Space, Unknown Sector, or Unknown Territories was the collective term for all regions of the galaxy not formally charted; it differed from Wild Space in that Wild Space was usually minimally charted, but not fully explored.</span>
        </div>
    </div>
</div>
{% endblock %}